.my-ico {
    /* min-width: 30%;
    min-height: 30%; */
    margin-left: 20px;
    margin-top: 5px;
    width: 8.5vw;
    height: 8.5vh;
    display: inline-block;
    text-align: right;
    background-size: 100% 100%;
}

.my-barico {
    min-width: 50px;
    min-height: 50px;
    width: 175px;
    height: auto;
    display: inline-block;
    text-align: right;
    margin: 0.4em 0.05em 0.05em 0.2em;
    background-size: 100% 100%;
}

.ico-logo{
        background-image: url('./img/portfolio/Logo main.svg');
        filter: invert(100%);    
}