.my-ico {
    min-width: 30%;
    min-height: 30%;
    width: 8.5vw;
    height: 8.5vh;
    display: inline-block;
    text-align: right;
    background-size: 100% 100%;
}

.my-barico {
    min-width: 50px;
    min-height: 50px;
    width: 175px;
    height: auto;
    display: inline-block;
    text-align: right;
    margin: 0.4em 0.05em 0.05em 0.2em;
    background-size: 100% 100%;
}

.ico-logo{
    background-image: url('./img/portfolio/mainlog.svg');
}

/* navTittle */

.ico-2dDes{
    background-image: url('./img/portfolio/2dDesign.svg');
}
.ico-3dMod{
    background-image: url('./img/portfolio/model3d.svg');
}
.ico-Motgraf{
    background-image: url('./img/portfolio/motgrap.svg');
}
.ico-progcode{
    background-image: url('./img/portfolio/progcode.svg');
}